.logo img{
    width: 200px;
    height: 100px;
}
.header{
display: flex;
}
.list{
    margin-left: 500px;
    margin-top: 100px;
    /* margin: 10px; */
}
.list a{
    margin: 10px;
    text-decoration: none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}